.DS_Store
wp-config.php
*.sql
*.log
.htaccess
.htaccess_lscachebak_01
.htaccess_lscachebak_02
.htaccess_lscachebak_03
.htaccess_lscachebak_04
.htaccess_lscachebak_05
.htaccess_lscachebak_06
.htaccess_lscachebak_07
.htaccess_lscachebak_orig
robots.txt
